<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/tela.css">
    <title>Senai</title>
</head>
<body>
    <header>
        <img src="/img/download.png" alt="">
    </header>
 
    <section class="home">
        <div class="cont_matricular home-column">
            <button class="matricular padding-button">Matricula/Rematricula</button>
            <img class="info1" src="/img/icons8-informações-50.png">
        </div>
         <div class="cont_financeiro home-column">
             <button class="financeiro padding-button ">Financeiro</button>
             <img class="info1" src="/img/icons8-informações-50.png">
        </div>
         <div class="cont_certificado home-column">
             <button class="certificado padding-button">Emissão de certificado</button>
             <img class="info1" src="/img/icons8-informações-50.png">
         </div>
         <div class="cont_servicos home-column">
             <button class="servicos padding-button">Outros serviços</button>
             <img class="info1" src="/img/icons8-informações-50.png">
        </div>
    </section>
</body>
</html>