* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }


  header{
      margin-top: 20px;
      text-align: center;
  }

  section{
      text-align: center;
  }

.home{
    margin: 0 auto;
    width: 60%;
    margin-top: 30px;
}


  button{
     padding: 15px 70px;
     margin-top: 30px;
     text-decoration: none;
     font-size: 25px;
     font-weight: bold;
     width: 100%;
     border-radius: 15px;
     border: 3px solid #919191;
     background-color: #343D93;
     color:white;
     
  }



  button:hover{
    opacity: 85%;
 }
 