@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font: normal 32px arial;
}
.cabecalho{
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient( 68.15deg, #3753e4 16.62%, #0724b6 85.61% );
    display: flex;
}
.cabecalho-img{
    padding: 17px;
    height: 150px;
}
.senha-guiche{
    font-size: 55px;
    font-weight: 400;
    padding: 38px;
    padding-left: 18%;
    display: flex;
    justify-content: space-around;
    color: dimgrey;
    gap: 50%;
}
.numero-tabela{
    font-size: 250px;
    padding-top: 60px;
    padding-bottom: 40px;
    background: linear-gradient( 68.15deg, #4564ff 16.62%, #0928c2 85.61% );
    color: rgb(255, 217, 0);
    display: flex; 
    justify-content: space-around;
    text-shadow: white 1px 6px 2px;
}
.img{
    padding-left: 75%;
    padding-bottom: 20px;
}
.senhaTelao{
    padding-right: 29%;
}

.senhas-anteriores{
    padding: 12px;
    padding-left: 13%;
    font-size: 40px;
    font-weight: 400;
    color: dimgrey;
}
.tabela-1{
    padding-right: 27%;
    justify-content: center;
    
}
.linha-vertical{
    border-left: 6px solid #d6d3d3c2;
    height: 29%;
    position: absolute;
    left: 50%;
}
.primeiro-numero{
    padding: 16px;
    padding-left: 20%;
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 74%;
    background:#e2e2e2;
    margin: 10px;
}
.n-1{
    padding-right: 67%;
}
.segundo-numero{
    padding: 16px;
    padding-left: 20%;
    padding-right: 13px;
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background:#e2e2e2;
    margin: 10px;
}
.n-3{
    padding-right: 68%;
}
.terceiro-numero{
    padding: 16px;
    padding-left: 20%;
    font-size: 40px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 74%;
    background:#e2e2e2;
    margin: 10px;
}
.n-6{
    padding-left: 68%;
}

.tabela-2{
    justify-content: center;
    align-items: center;
}


@keyframes piscarNumero {
    from { color: yellow; }
    to   { color: rgb(255, 217, 0); }
}

@keyframes piscarTela {
    from { border: 7px solid rgb(255, 217, 0); }
    to   { border: 7px solid rgb(173, 173, 173); }
}

/* Piscar tabela  */

.numero-tabela{
    background-color: 15px solid rgb(255, 217, 0);
    animation: piscarTela .3s    30;
 }

 /* Piscar numero */

 .senhaTelao{
     animation: piscarNumero .3s 30;
 }

 .guicheTelao{
     animation: piscarNumero .3s 30;
 }

 h1.hora{
    position: absolute;
    padding-left: 86%;
    padding-top: 5%;
 }

 h1.data{
    position: absolute;
    padding-left: 82%;
    padding-top: 1%;
 }

 

 